
body {
  background-color: #d8deeecd;
  background-image: url("backgr.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
}

.App{
  background-color: rgba(216, 215, 236, 0.559);
  min-height: 70vh;
  width: 400px;
  margin: 20px auto;
  margin-top: 15%;
  border-radius: 20%;
  }

.crossed {
  text-decoration: line-through 2px rgba(15, 8, 154, 0.975);
  background-color: rgba(216, 215, 236, 0.89);
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Neucha', cursive;
}

h1{
  font-family: 'Neucha', cursive;
  color: rgb(9, 9, 168);
  
}

.container{
  display: flex;
  justify-content: center;
  }

.add {
  background: #455793;
  margin-top: 5px;
  border-radius: 50px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
  border-radius: 50px;

}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Neucha', cursive;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Neucha', cursive;
}

.imageSmall{
  border-radius: 50%;
  padding: 5px;
}
